header {
  position: fixed;
  background-color: #fff;
  width: 100%;
  z-index: 100;
}

.header {
  display: flex;
  position: fixed;

  width: 100%;
  z-index: 100;
  padding-left: 2.5rem;
  padding-right: 2.5rem;

  border-bottom-width: 1px;
  border-color: rgb(226 232 240 / 1);
  border-spacing: 0.75rem 0.75rem;
  background-color: #fff;
  -webkit-box-pack: justify;

  .header__logo {
    max-width: 10%;
    margin-right: auto;
    img {
      max-height: 80px;
      max-width: 146px;
    }
  }

  &__logo-image {
    cursor: pointer;
  }

  .links {
    margin-right: 40px;

    .link {
      display: flex;

      height: 70%;
      margin-left: 1rem;
      margin-right: 1rem;

      flex-direction: column-reverse;

      color: black;
      font-weight: 500;
      font-size: 18px;
      line-height: 28px;

      .active::before {
        transform: scaleX(1);
        transition: transform 0.3s;
        transform-origin: left;
      }

      span {
        cursor: pointer;
      }

      span:hover::before {
        transform: scaleX(1);
        transition: transform 0.3s;
        transform-origin: left;
      }

      span::before {
        display: flex;
        position: relative;
        top: 30px;
        left: 0;
        bottom: -5px;

        width: 100%;
        height: 1.5px;

        content: '';
        background-color: #000;
        transform: scaleX(0);
        transition: transform 0.3s;
        transform-origin: right;
      }
    }

    .phone {
      display: flex;
      position: relative;

      height: 70%;

      flex-direction: column-reverse;
      color: #000;
      text-decoration: none;
      font-weight: 500;
      font-size: 18px;
      line-height: 28px;
      margin-left: 1rem;
      margin-right: 3rem;
      cursor: pointer;

      a:hover::before {
        transform: scaleX(1);
        transition: transform 0.3s;
        transform-origin: left;
      }

      a::before {
        display: flex;
        position: relative;
        left: 0;
        top: 30px;
        bottom: -5px;

        width: 100%;
        height: 1.5px;

        content: '';
        background-color: #000;
        transform: scaleX(0);
        transition: transform 0.3s;
        transform-origin: right;
      }
    }
    .icons {
      display: flex;

      width: 6rem;
      margin-right: 1rem;

      .icon {
        width: 100%;
        height: 100%;
        margin-left: 0.25rem;
        margin-right: 0.25rem;
        margin-top: 25%;

        svg {
          width: 25px;
        }
      }

      a {
        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  .header-profile {
    display: flex;

    gap: 1.25rem;
    align-items: center;

    .header-profile__item {
      display: flex;

      align-items: center;
      font-weight: 500;
      font-size: 18px;
      line-height: 28px;
      cursor: pointer;
      color: #000;

      .active::before {
        transform: scaleX(1);
        transition: transform 0.3s;
        transform-origin: left;
      }

      span {
        margin-left: 10px;

        &:hover::before {
          transform: scaleX(1);
          transition: transform 0.3s;
          transform-origin: left;
        }

        &::before {
          display: flex;
          position: relative;
          top: 30px;
          left: 0;
          bottom: -5px;

          width: 100%;
          height: 1.5px;

          content: '';
          background-color: #000;
          transform: scaleX(0);
          transition: transform 0.3s;
          transform-origin: right;
        }
      }
    }
  }
}
