.services {
  &__title {
    color: #000;
    font-size: 26px;
    line-height: 32px;
    font-family: 'Playfair Display', serif;
    font-weight: 600;
    text-align: center;

    h2 {
      color: #000;
      font-size: 40px;
      font-weight: 600;
      text-align: center;
    }
  }

  &__title {
    margin-top: 27px;
    margin-bottom: 12px;

    h4 {
      color: #000;
      font-size: 24px;
      font-weight: 600;
    }
  }

  .card-list {
    margin-top: 30px;
    max-width: 1116px;

    &__title {
      margin-bottom: 50px;

      h4 {
        color: #000;
        font-weight: 600;
        font-size: 24px;
        text-align: left;
      }
    }

    .card {
      display: flex;
      flex: 0 0 auto;
      width: 33.33333333%;
      margin-top: 50px;
      max-height: 860px;
      padding-right: 5px;
      padding-left: 5px;

      flex-direction: column;

      &__price {
        p {
          color: #000;
          font-weight: 600;
          font-size: 20px;
        }
      }

      &__text {
        margin-top: 17px;

        p {
          color: #000;
          font-size: 16px;
        }
      }

      &__button {
        display: inline-block;

        width: 230px;
        padding: 10px 30px;
        margin-top: auto;

        border: 1px solid #d9c09a;
        border-radius: 3px;
        align-items: center;
        justify-content: center;

        color: #000;
        font-weight: 500;
        font-size: 14px;
        transition: all 0.2s ease;

        &:hover {
          background-color: #d9c09a;
        }
      }

      img {
        height: 336px;
        width: 100%;

        object-fit: cover;
      }
      h4 {
        color: #000;
        font-weight: 500;
        font-size: 20px;
        text-align: left;
      }
    }
  }
}
.container-fluid {
  padding-top: 120px;
  padding-bottom: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
