@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Manrope', sans-serif;
  color: #fff;
  overflow-x: hidden;
}
.header {
  position: fixed;
  background-color: #fff;
  width: 100%;
  z-index: 100;
}
h1 {
  font-size: 45px;
  font-weight: 600;
  color: #000;
}
h2 {
  font-size: 35px;
  font-weight: 500;
}
.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
  width: 100%;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
}

.col-4 {
  flex: 0 0 auto;
  width: 33.33333333%;
}
.logo {
  cursor: pointer;
}
.header-phone {
  height: 70%;
  text-decoration: none;
  display: flex;
  flex-direction: column-reverse;
  color: #000;
  font-weight: 700;
  font-size: 18px;
  margin-left: 15px;
  margin-right: 40px;
  position: relative;
  cursor: pointer;
}

.header-button {
  display: flex;
  background-color: #000;
  border-radius: 25px;
  margin-left: 20px;
  align-items: center;
  padding: 9px 24px;
  border: 1px #000 solid;
  text-decoration: none;
  color: #fff;
  transition: all 0.4s ease;
  margin-top: 20px;
  height: 50px;
}

.header-button:hover {
  background-color: #fff;
  color: #000;
}

.first-slide {
  background-size: cover;
  background-repeat: no-repeat;
}
.first-slide .fs-container {
  padding: 200px 0;
}
.fs-title {
  text-align: center;
}
.fs-subtitle {
  text-align: center;
  margin-top: 40px;
}
.fs-subtitle p {
  font-size: 22px;
}
.fs-title h2 span {
  color: rgb(217, 192, 154);
}
.fs-subtitle p span {
  color: rgb(217, 192, 154);
}
.first-slide > img {
  position: absolute;
  z-index: -1;
  max-height: 82%;
}
.d-flex {
  display: flex !important;
}
.fs-line {
  align-items: center;
  padding: 0 100px;
}
.fs-line_second {
  width: 280px;
}
.fs-line_second_button {
  display: flex;
  background-color: #f6d19e;
  border-radius: 13px;
  padding: 25px 50px;
  transition: all 0.4s ease;
  border-bottom: 2.5px #e6ae6d solid;
}
.fs-line_second_button:hover {
  background-color: #b99f78;
}
.fs-line_third img {
  max-height: 260px;
  animation: 10s linear infinite rotate;
}
.fs-line_third-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.fs-line_third-text p {
  font-weight: 300;
  font-size: 11px;
}
.header-link {
  height: 70%;
  display: flex;
  flex-direction: column-reverse;
  color: black;
}
.header-link span {
  cursor: pointer;
}
.header-link span:hover::before,
.header-phone a:hover::before {
  transform: scaleX(1);
  transition: transform 0.3s;
  transform-origin: left;
}
.header-link span::before,
.header-phone a::before {
  display: flex;
  width: 100%;
  content: '';
  height: 1.5px;
  background-color: #000;
  position: relative;
  left: 0;
  top: 30px;
  bottom: -5px;
  transform: scaleX(0);
  transition: transform 0.3s;
  transform-origin: right;
}

.icons-line a:hover {
  cursor: pointer;
}

.header-icon {
  width: 100%;
  height: 100%;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
  margin-top: 35%;
}
.fs-line_first {
  transform: rotate(-90deg);
}
.fs-line-icon {
  transform: rotate(90deg);
  cursor: pointer;
}
.second-slide-carousel {
  max-width: 580px;
  max-height: 580px;
  border: 4px #dac19b solid;
  border-radius: 15px;
  margin-top: 50px;
  position: relative;
}
.s-button-prev {
  background-image: url('../assets/arrow_l.svg');
  background-color: #b1b1b1;
  border-radius: 10px;
  background-size: 70% 70%;
  color: black;
  display: block;
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-position: 50%;
  cursor: pointer;
}
.s-button-next {
  background-image: url('../assets/arrow_r.svg');
  background-color: #b1b1b1;
  border-radius: 10px;
  background-size: 70% 70%;
  color: black;
  display: block;
  height: 30px;
  width: 30px;
  background-repeat: no-repeat;
  background-position: 50%;
  cursor: pointer;
}
.carousel-control-next,
.carousel-control-prev {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15%;
  padding: 0;
  color: #fff;
  text-align: center;
  background: 0 0;
  border: 0;
  opacity: 0.5;
  transition: opacity 0.15s ease;
}
.carousel-control-next {
  right: 0;
}
.carousel-control-prev {
  left: 0;
}
.second-slide .container-fluid {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.swiper-slide img {
  border-radius: 10px;
}
.visually-hidden,
.visually-hidden-focusable:not(:focus):not(:focus-within) {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}
.second-slide-text p {
  color: #000;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.5;
}
.second-slide-button {
  color: #fff;
  background-color: #dac19b;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  padding: 15px 80px;
  border-radius: 5px;
  margin-top: 30px;
  transition: all 0.3s ease;
}

.second-slide-button:hover {
  background-color: #b99f78;
  cursor: pointer;
}

.item-description {
  color: black;
}
.third-slide {
  margin-top: 100px;
}
.third-slide .container-fluid {
  display: flex;
  flex-direction: column;
}
.ts-item-image {
  position: absolute;
  z-index: -1;
}

.third-slide-item img {
  background-size: cover;
  background-repeat: no-repeat;
  height: 530px;
  width: 565px;
  padding: 80px 80px;
  padding-right: 0;
  padding-bottom: 0;
  position: relative;
}
.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--bs-gutter-y) * -1);
  margin-right: calc(var(--bs-gutter-x) * -0.5);
  margin-left: calc(var(--bs-gutter-x) * -0.5);
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f6d19e;
  border-radius: 13px;
  padding: 25px 45px;
  transition: all 0.4s ease;
  width: 280px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 55px;
  margin-bottom: 20px;
  border-bottom: 2.5px #e6ae6d solid;
}

.ts-card {
  background-size: cover;
  background-repeat: no-repeat;
  height: 536px;
  width: 565px;
  padding: 80px 80px;
  padding-right: 0;
  padding-bottom: 0;
  position: relative;
}

.ts-card-button p,
.ts-card-button-1134px p {
  text-transform: uppercase;
  color: #000;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 600;
  font-size: 14px;
}

.ts-cards-top {
  justify-content: center;
  align-items: center;
}
.ts-card-text p {
  color: #000;
  font-size: 20px;
}

.ts-card-title h3 {
  color: #000;
  font-size: 23px;
  font-weight: 600;
  z-index: 3;
  position: relative;
}

.ts-image img {
  max-width: 200px;
  position: absolute;
  top: 151px;
  right: 35px;
  z-index: 1;
}

.button:hover,
.button-1134px:hover {
  background-color: #dfbd8e;
}

.fourth-slide {
  margin-top: 100px;
  background-color: #efefef;
}
.fourth-slide .container-fluid {
  padding: 90px 150px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.fourth-slide-cards {
  justify-content: center;
  align-items: center;
}

.fourth-slide-card {
  background-size: cover;
  width: 456px;
  height: 326px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fourth-slide-card-title h4 {
  font-family: 'Playfair Display';
  font-size: 26px;
  font-weight: 600;
}

.fourth-slide-card-subtitle {
  background-color: #dac19b;
  height: 1px;
  width: 103px;
  margin: 12px 0;
}

.fourth-slide-card-text p {
  font-size: 16px;
  font-weight: 300;
}

.fourth-slide-card-price p {
  font-weight: 600;
  font-size: 15px;
  margin-top: 5px;
}
.fourth-slide-card-button {
  border: 1px #dac19b solid;
  border-radius: 5px;
  color: #fff;
  padding: 8px 55px;
  font-size: 14px;
  margin-top: 15px;
  transition: all 0.4s ease;
}

.fifth-slide .container-fluid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 90px 0;
  background-color: #fafafa;
}

.fifth-slide-subtitle p {
  color: #000;
  font-size: 22px;
  font-weight: 500;
  text-align: center;
}

.fifth-slide-angle {
  margin-top: 10px;
  margin-bottom: 5px;
}

.fifth-slide-angle img {
  max-height: 78px;
}
.fifth-slide-card {
  align-items: center;
  background-color: #fff;
  border-radius: 15px;
  padding: 25px 100px;
  padding-left: 25px;
  box-shadow: 4px 4px 10px 4px rgba(0, 0, 0, 0.2);
}
.fifth-slide-card-text {
  color: #000;
  margin-left: 60px;
}
.fifth-slide-card-title h3 {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 10px;
}

.fifth-slide-subtitle {
  margin-top: 30px;
  margin-bottom: 50px;
}
.fifth-slide-card-subtitle p {
  font-size: 18px;
}

.sixth-slide .container-fluid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #fafafa;
  padding-top: 70px;
}
.sixth-slide-title {
  margin-bottom: 15px;
}
.sixth-slide-subtitle p,
.sixth-slide-subtitle a {
  color: #000;
  font-weight: 500;
  font-size: 22px;
}
.sixth-slide-subtitle {
  text-align: center;
}
.gallery-slide-subtitle p .snoska,
.sixth-slide-subtitle p span {
  font-size: 14px;
  font-weight: 300;
  color: #aeaeae;
}
.sixth-slide-reviews {
  align-items: center;
  margin-top: 70px;
}
.sixth-slide-review-left-img img {
  width: 100%;
  border-radius: 20px;
}
.sixth-slide-review-left-img {
  max-width: 313px;
  border: 3px #dac19b solid;
  border-radius: 20px;
  margin-top: 18px;
}
.sixth-slide-review-right-carousel {
  max-width: 373px;
  border: 3px #dac19b solid;
  border-radius: 20px;
  margin-left: 200px;
}

.seventh-slide {
  color: #000;
  display: flex;
  flex-direction: column;
}

.contacts-text p {
  font-weight: 500;
  font-size: 18px;
  margin-top: 22px;
  margin-left: 41%;
  color: #000;
}

.seventh-slide-links {
  align-items: center;
  margin-top: 40px;
  margin-left: 43%;
}

p {
  margin: 0;
}

.seventh-slide > .container-fluid {
  display: flex;
  flex-direction: column;
}

.contacts-text {
  flex-direction: column;
}

.seventh-slide-buttons {
}

.seventh-slide-button {
  background-color: #fff;
  border: 2px #dac19b solid;
  border-radius: 5px;
  justify-content: center;
  padding: 13px 20px;
  color: #000;
  display: flex;
  transition: all 0.4s ease;
  margin-top: 15px;
}

.seventh-slide-button:hover {
  color: #fff;
  background-color: #dac19b;
}

.seventh-slide-buttons .second {
  background-color: #dac19b;
  color: #fff;
  width: 100%;
}

.seventh-slide-buttons .second:hover {
  color: #000;
  background-color: #fff;
}

.seventh-slide-stick {
  background-color: #dac19b;
  width: 1px;
  height: 100px;
  margin: 0 40px;
}

.seventh-slide-icons .icons-line {
  flex-direction: column;
  width: 2rem;
}
.seventh-slide-header {
  margin-left: 43%;
}

.services .container-fluid {
  padding-top: 120px;
  padding-bottom: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.services-card {
  /* width: 360px; */
  max-height: 860px;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  padding-right: 5px;
  padding-left: 5px;
}
.services-card img {
  height: 336px;
}
.services-card img {
  width: 100%;
  object-fit: cover;
}
.services-card-title {
  margin-top: 27px;
  margin-bottom: 12px;
}
.services-card-title h4 {
  color: #000;
  font-size: 24px;
  font-weight: 500;
}
.services-card-price p {
  color: #000;
  font-weight: 600;
  font-size: 20px;
}
.services-card-text {
  margin-top: 17px;
}
.services-card-text p {
  color: #000;
  font-size: 16px;
}
.services-card-button {
  border: 1px solid #d9c09a;
  border-radius: 3px;
  display: inline-block;
  align-items: center;
  justify-content: center;
  padding: 10px 30px;
  color: #000;
  font-weight: 500;
  font-size: 14px;
  margin-top: auto;
  width: 230px;
  transition: all 0.2s ease;
}
.services-card-button:hover {
  background-color: #d9c09a;
}

.services-cards-title {
  margin-bottom: 50px;
}

.services-cards-title h3 {
  color: #000;
  font-weight: 500;
  font-size: 36px;
  text-align: left;
}

.services-title h2 {
  color: #000;
  font-size: 40px;
  font-weight: 600;
  text-align: center;
}

.services-cards {
  margin-top: 100px;
  max-width: 1116px;
}
.—Åol-lg-4 {
  flex: 0 0 auto;
  width: 33.33333333%;
}
.services-card img {
  height: 336px;
}

.services-card img {
  width: 100%;
  object-fit: cover;
}

.gallery-slide .container-fluid {
  padding: 120px 0;
  padding-bottom: 40px;
  text-align: center;
}
.gallery-slide-title h3 {
  color: #000;
  font-size: 26px;
  line-height: 32px;
  font-family: 'Playfair Display', serif;
  font-weight: 600;
}

.gallery-slide-subtitle p {
  color: #000;
  font-size: 20px;
  font-family: 'Playfair Display', serif;
  font-weight: 300;
  line-height: 1.55;
}

.gallery-slide-subtitle p span {
  font-weight: 700;
}

.gallery-slide-subtitle p a {
  color: rgb(222, 29, 32);
}
.gallery-slide-subtitle p .snoska,
.sixth-slide-subtitle p span {
  font-size: 14px;
  font-weight: 300;
  color: #aeaeae;
}

.gallery-image {
  display: inline-block;
  width: 24.5%;
  max-height: 460px;
  padding-top: 4px;
}

.gallery-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.3s ease;
}
.gallery {
  padding-left: 1.3%;
}

.gallery-image img:hover {
  transform: scale(103%);
  box-shadow: 0 2px 20px 2px rgba(0, 0, 0, 0.45);
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
