body {
  margin: 0;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Manrope', sans-serif;
  color: #fff;
  overflow-x: hidden;
}

h1 {
  font-size: 45px;
  font-weight: 600;
  color: #000;
}
h2 {
  font-size: 35px;
  font-weight: 500;
}
.container-fluid {
  width: 100%;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
  margin-right: auto;
  margin-left: auto;
}
.logo-link {
  min-width: 10%;
}
.s-button-prev {
  background-image: url('../icons/arrow_l.svg');
  background-color: #b1b1b1;
  border-radius: 10px;
  background-size: 70% 70%;
  color: black;
  display: block;
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-position: 50%;
  cursor: pointer;
}
.s-button-next {
  background-image: url('../icons/arrow_r.svg');
  background-color: #b1b1b1;
  border-radius: 10px;
  background-size: 70% 70%;
  color: black;
  display: block;
  height: 30px;
  width: 30px;
  background-repeat: no-repeat;
  background-position: 50%;
  cursor: pointer;
}
.carousel-control-next,
.carousel-control-prev {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15%;
  padding: 0;
  color: #fff;
  text-align: center;
  background: 0 0;
  border: 0;
  opacity: 0.5;
  transition: opacity 0.15s ease;
}
.carousel-control-next {
  right: 0;
}
.carousel-control-prev {
  left: 0;
}
.s-button-next:hover,
.s-button-prev:hover {
  background-color: #d2d2d2;
}

.swiper-slide {
  img {
    border-radius: 10px;
  }
}
.visually-hidden,
.visually-hidden-focusable:not(:focus):not(:focus-within) {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

.item-description {
  color: black;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0;
  margin-right: 1.5rem;
  margin-left: 1.5rem;
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f6d19e;
  border-radius: 13px;
  padding: 25px 30px;
  transition: all 0.4s ease;
  width: 280px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 55px;
  margin-bottom: 20px;
  border-bottom: 2.5px #e6ae6d solid;
}

.button:hover,
.button-1134px:hover {
  background-color: #dfbd8e;
}
p {
  margin: 0;
}

.component-header {
  text-align: center;
}
