@media screen and (max-width: 1440px) {
  .link a,
  .phone a {
    font-size: 16px;
  }
  .links {
    margin-right: 0;
  }
  .phone a {
    margin: 0;
  }
  .icons i {
    font-size: 18px;
  }
  .header-button {
    margin-left: 0;
  }
  .header__logo {
    min-width: 11%;
  }
  .header-dropdown {
    display: flex;
  }
  .icon:last-child i {
    font-size: 29px;
  }
  .fourth-slide-cards .third .fourth-slide-card-button {
    margin-top: 40px;
  }
  .fourth-slide-cards .third .fourth-slide-card__title {
    margin-top: 48px;
  }
}
@media screen and (max-width: 1260px) {
  .header {
    display: none !important;
    padding: 0 10px;
  }
  .header-1260px {
    display: block !important;
  }
  .header-1260px-logo img {
    max-width: 142px;
  }
  .header__logo {
    margin-left: 10px;
  }
  .icon {
    margin-right: 5px;
  }
  .icons {
    margin: 0;
    margin-left: 15px;
  }
  .first-slide-container {
    padding-left: 0;
    padding-right: 0;
  }
  .line-third-item img {
    max-width: 180px;
  }
  .line-third-item-text p {
    font-size: 10px;
  }
  .line-second-item__button {
    padding: 15px 20px;
    display: flex;
    justify-content: center;
  }
  .line-second-item__button p {
    text-align: center;
    font-size: 12px;
  }
  .line-first-item {
    width: 220px;
  }
  .line-first-item__text p {
    font-size: 10px;
  }
  .lp-ss .container-fluid {
    padding-left: 120px;
  }
}
@media screen and (max-width: 1134px) {
  .third-slide-card-button {
    display: none;
  }
  .third-slide-card-button-1134px {
    display: flex;
  }
  .third-slide-card {
    margin-top: 30px;
  }
  .third-slide-card title h1 {
    margin-left: 0;
    text-align: center;
  }
  .lp-ss .container-fluid {
    padding-left: 60px;
  }
}

@media screen and (max-width: 1112px) {
  .link {
    margin-right: 7px;
  }
  .fifth-slide-title h1 {
    font-size: 44px;
  }
  .fifth-slide__subtitle p {
    font-size: 18px;
  }
  .fifth-slide-card__title h3 {
    font-size: 24px;
  }
  .fifth-slide-card__subtitle p {
    font-size: 16px;
    line-height: 20px;
  }
  .fifth-slide-card {
    padding: 25px 50px;
  }
}
@media screen and (max-width: 1060px) {
  .link a,
  .phone a {
    font-size: 14px;
  }
}

@media screen and (max-width: 1015px) {
  .link-slide-title h2 {
    margin-top: 22px;
  }
}

@media screen and (max-width: 990px) {
  .header {
    /* display: none; */
  }
  .header {
    background-color: #000;
  }
  .header-980px {
    display: block;
  }
  .header-980px .container-fluid {
    padding: 30px;
  }
  .header-980px-logo h3 {
    font-family: 'Playfair Display', serif;
    font-weight: 600;
    font-size: 18px;
  }
  .line-first-item {
    display: none !important;
  }
  .first-slide-container__title h2 {
    font-size: 28px;
  }
  .first-slide-container__subtitle p {
    font-size: 18px;
  }
  .line-first-item {
    margin-top: 100px;
  }
  .line-third-item {
    display: none !important;
  }
  .line-second-item {
    margin-right: auto;
  }
  .sixth-slide-reviews {
    flex-direction: column;
  }
  .sixth-slide-review-right-carousel {
    margin: 0;
    margin-top: 50px;
  }
  .services-card {
    padding-top: 20px;
  }
  .services-cards {
    max-width: 50%;
    margin-top: 70px;
  }
  .services-cards-title {
    margin-bottom: 0;
  }
  .services-card-button {
    margin-top: 20px;
  }
  .contacts {
    padding-bottom: 20px;
  }
  .contacts-icons i {
    font-size: 60px;
  }
  .lp-ss-title {
    text-align: center;
  }
  .lp-ss-left {
    justify-content: center;
    align-items: center;
  }
  .lp-ss-img {
    justify-content: center;
    align-items: center;
  }
  .lp-ss-text p {
    font-size: 18px;
    text-align: center;
  }
  .lp-video {
    margin: 30px auto;
  }
  .lp-ss .container-fluid {
    padding-left: 20px;
  }
  .link-slide-title h2 {
    font-size: 34px;
  }
}

@media screen and (max-width: 920px) {
  #lightgallery {
    padding-left: 0.3%;
  }
}

@media screen and (max-width: 820px) {
  .courier-row {
    flex-wrap: wrap;
    .form {
      min-width: 100%;
    }
  }

  .favorites {
    padding: 120px 40px !important;
  }

  .favorites .cards-list {
    display: flex !important;
    flex-wrap: wrap;
    gap: 0;
    .card {
      width: 100%;
    }
  }
  .shop {
    padding: 120px 40px !important;
  }
  .shop .cards-list {
    display: flex !important;
    flex-wrap: wrap;
    gap: 0;
    .card {
      width: 100%;
    }
  }
  .shop .select {
    width: 100%;
  }
  .shop .searcher-input {
    width: 100%;
  }
  .fifth-slide-card__img img {
    max-height: 170px;
  }
  .fifth-slide-card__subtitle p {
    font-size: 14px;
    line-height: 18px;
  }
  .fifth-slide-card {
    padding: 25px 25px !important;
  }
  .contacts-icons i {
    font-size: 40px;
  }
  .contacts__stick {
    margin: 0 10px !important;
  }
  .contacts-icons .icons-line {
    margin-left: 0 !important;
  }
}
@media screen and (max-width: 725px) {
  .services-card img {
    height: 235px;
    width: 85%;
  }
}
@media screen and (max-width: 660px) {
  .header-980px {
    display: none;
  }
  .header-1260px {
    display: block;
  }
  .header-1260px-logo img {
    max-width: 136px;
  }
  .header-1260px .container-fluid {
    align-items: center;
    padding-right: 30px;
  }
  .line-first-item {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .fifth-slide-card {
    padding: 25px 25px;
  }
  .fifth-slide-card__text {
    margin-left: 0 !important;
  }
  .sixth-slide-review-right-carousel {
    margin-left: 0 !important;
  }
  .line-second-item {
    margin: 0;
  }
  .line-third-item {
    margin: 0;
    margin-top: 50px;
  }
  .first-slide-container__title h2 {
    font-size: 20px;
  }
  .first-slide-container__subtitle p {
    font-size: 16px;
  }
  .second-slide-title h1 {
    font-size: 36px;
  }
  .fourth-slide .container-fluid {
    padding: 90px 50px;
  }
  .fourth-slide-title h1 {
    font-size: 42px;
  }
  .fifth-slide-card__img img {
    max-height: 120px;
  }
  .fifth-slide-card__title h3 {
    font-size: 18px;
  }
  .fifth-slide-card__subtitle p {
    font-size: 12px;
    line-height: 14px;
  }
  .fifth-slide-title h1 {
    font-size: 33px;
  }
  .fifth-slide__subtitle p {
    font-size: 14px;
  }
  .fifth-slide-card {
    padding: 10px;
  }
  .fifth-slide-card__text {
    margin-left: 10px;
  }
  .sixth-slide__title h1,
  .lp-example-title h1 {
    font-size: 40px;
  }
  .sixth-slide__subtitle p {
    font-size: 18px;
  }
  .gallery-image {
    width: 49.5%;
  }
  .gallery-page-subtitle p {
    font-size: 16px;
  }
  .services-cards {
    max-width: 70%;
    margin-top: 70px;
  }
  .services-card-price p {
    font-size: 16px;
  }
  .services-card-text p {
    font-size: 12px;
  }
  .lp-ss-text p {
    font-size: 16px;
  }
  .lp-third-slide-card-sutitle p,
  .lp-third-slide-card-text p {
    font-size: 16px;
  }
  .lp-third-slide-card-button {
    max-width: 245px;
  }
  .lp-third-slide-card-title h3 {
    font-size: 30px;
  }
  .lp-third-slide-card-title h3::after {
    width: 130px;
  }
  .gallery-page-subtitle p .snoska,
  .sixth-slide__subtitle p span {
    font-size: 12px;
    font-weight: 300;
    color: #aeaeae;
  }
  .third-slide-card__image img {
    max-width: 140px;
    top: 245px;
    right: 77px;
  }
  .second-image {
    display: block;
    border-radius: 10px;
  }
  .first-image {
    display: none;
  }
  .services-card img {
    max-height: 336px;
    width: 100%;
  }
  .services-card-title {
    text-align: center;
  }
  .services-card-price {
    text-align: center;
  }
  .services-card-text {
    text-align: center;
  }
  .services-card-button {
    margin-left: auto;
    margin-right: auto;
  }
  .link-slide-button p {
    font-size: 14px;
  }
}
@media screen and (max-width: 570px) {
  .lp-ss-title h3 {
    font-size: 22px;
  }
  .third-slide-card__image img {
    max-width: 130px;
    top: 245px;
    right: 70px;
  }
}
@media screen and (max-width: 540px) {
  .lp-third-slide-card-sutitle p,
  .lp-third-slide-card-text p {
    font-size: 14px;
    line-height: 22px;
  }
  .lp-third-slide-card-title h3 {
    font-size: 26px;
  }
  .lp-third-slide-card-button {
    max-width: 194px;
  }
  .lp-third-slide-card-button p {
    font-size: 16px;
  }
  .lp-third-slide-card {
    padding-left: 20px;
  }
  .third-slide-card__image-dostavka img {
    top: 350px;
  }
  .third-slide-card__image img {
    max-width: 120px;
    top: 260px;
    right: 50px;
  }
  .header-1260px {
    .container {
      width: 70% !important;
    }
  }
}
@media screen and (max-width: 520px) {
  .third-slide-card-title h3 {
    font-size: 18px;
  }
  .third-slide-card-text p {
    font-size: 16px;
    line-height: 20px;
  }
  .third-slide-card-text {
    margin-top: 5px;
  }
  .third-slide-top .third,
  .third-slide-top .fourth {
    height: 520px;
  }
  .fifth-slide-angle img {
    max-height: 45px;
  }
  .third-slide__title h1 {
    font-size: 34px;
  }
  .services-cards-title h3 {
    font-size: 26px;
  }
  .contacts {
    padding-bottom: 0;
  }
  .courier {
    padding: 160px 10px !important;
  }
  .courier-row form {
    padding: 25px 15px !important;
    width: 100px !important;
  }
  .courier-row {
    padding: 0 20px !important;
  }
  .courier-row .info {
    padding: 0 !important;
  }
  .before p,
  .after p {
    font-size: 14px;
  }
  .before {
    padding: 2px 20px;
  }
  .lp-ss-img img {
    max-width: 250px;
  }
  .third-slide-card__image img {
    max-width: 120px;
    top: 220px;
    right: 60px;
  }
  .third-slide-card__image-dostavka img {
    top: 350px;
  }
}
@media screen and (max-width: 480px) {
  .second-slide-title h1 {
    font-size: 26px;
  }
  .third-slide-card {
    padding: 60px 60px;
    padding-right: 0;
    height: 430px;
  }
  .third .bottom p {
    font-size: 12px;
    line-height: 18px;
  }
  .third-slide-card__image-dostavka img {
    top: 290px;
  }
  .fifth-slide-card__img img {
    max-height: 100px;
  }
  .fifth-slide-card__subtitle p {
    font-size: 18px;
    line-height: 16px;
  }
  .fifth-slide__subtitle p {
    font-size: 12px;
  }
  .fifth-slide-title h1 {
    font-size: 28px;
  }
  .sixth-slide-reviews {
    flex-direction: column-reverse;
    width: 100%;
  }
  .sixth-slide-review-right-carousel {
    margin: 0;
    margin-bottom: 40px;
  }
  .sixth-slide-review-left {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  .sixth-slide-review-left__img {
    margin-left: auto;
    max-width: 280px;
  }
  .sixth-slide-review-left .first {
    margin-right: auto;
    margin-left: 0;
  }
  .lp-ss-title h3 {
    font-size: 18px;
  }
  .lp-third-slide-card-img img {
    max-width: 190px;
  }
  .lp-third-slide-card-sutitle p,
  .lp-third-slide-card-text p {
    font-size: 12px;
    line-height: 19px;
  }
  .lp-third-slide-card {
    padding-right: 100px;
  }
  .first-slide-container__title {
    padding: 0 10%;
  }
  .third-slide-card__image img {
    max-width: 110px;
    top: 184px;
    right: 40px;
  }
  .sixth-slide__title h1,
  .lp-example-title h1 {
    font-size: 34px;
  }
  .third-slide-card__image-dostavka img {
    max-width: 260px;
    top: 270px;
  }
}
@media screen and (max-width: 420px) {
  .third-slide-top .third,
  .third-slide-top .fourth {
    height: 470px;
  }
  .fourth-slide .container-fluid {
    padding: 90px 0;
  }
  .fourth-slide-title h1 {
    font-size: 38px;
  }
  .lp-third-slide-card {
    padding-right: 80px;
  }
  .gallery-page-subtitle p .snoska,
  .sixth-slide__subtitle p span {
    font-size: 10px;
    font-weight: 300;
    color: #aeaeae;
  }
  .third-slide-card__image-dostavka img {
    top: 260px;
    right: 25px;
  }
  .third-slide-card__image img {
    max-width: 100px;
    top: 200px;
    right: 30px;
  }
}
@media screen and (max-width: 384px) {
  .lp-third-slide-card-img img {
    max-width: 160px;
  }
  .lp-third-slide-card-title h3 {
    font-size: 22px;
  }
  .first-slide-container__title {
    padding: 0;
  }
  .third-slide-card__image img {
    max-width: 100px;
    top: 195px;
    right: 20px;
  }
  .sixth-slide__title h1,
  .lp-example-title h1 {
    font-size: 30px;
  }
  .lp-example {
    margin-top: 20px;
  }
  .third-slide-card__image-dostavka img {
    max-width: 270px;
  }
}
@media screen and (max-width: 370px) {
  .third-slide-top .third,
  .third-slide-top .fourth {
    height: 374px;
  }
  .second-slide-title h1 {
    font-size: 22px;
  }
  .second-slide__text p {
    font-size: 18px;
  }
  .third-slide-card-text p {
    font-size: 14px;
  }
  .third-slide-card-title h3 {
    font-size: 16px;
  }
  .third-slide-card {
    padding-top: 40px;
  }
  .third .bottom p {
    font-size: 10px;
  }
  .third-slide-card {
    height: 438px;
  }
  .fourth-slide-card__title h4 {
    font-size: 22px;
  }
  .fourth-slide-card__text p {
    font-size: 14px;
  }
  .fifth-slide-card__subtitle p {
    font-size: 16px;
    line-height: 16px;
  }
  .fourth-slide-card-button {
    margin-top: 10px;
  }
  .fourth-slide-card__subtitle {
    margin: 5px 0;
  }
  .fifth-slide-title h1 {
    font-size: 24px;
  }
  .fifth-slide__subtitle p {
    font-size: 10px;
  }
  .fourth-slide-title h1 {
    font-size: 30px;
  }
  .gallery-page-subtitle p {
    font-size: 14px;
  }
  .fifth-slide-card__img img {
    max-height: 80px;
  }
  .lp-ss-img img {
    max-width: 220px;
  }
  .lp-ss-title h3 {
    font-size: 16px;
  }
  .lp-ss-left {
    padding: 0;
  }
  .lp-ss-text p {
    font-size: 12px;
    text-align: left;
  }
  .third-slide-card__image-dostavka img {
    max-width: 240px;
    top: 280px;
  }
}
@media screen and (max-width: 350px) {
  .lp-third-slide-card-img img {
    max-width: 132px;
  }
  .lp-third-slide-card-title h3 {
    font-size: 20px;
  }
  .lp-third-slide-card {
    padding-right: 60px;
  }
  .fourth-slide-card {
    width: 345px;
    height: 260px;
  }
  .fourth-slide-cards .third .fourth-slide-card-button {
    margin-top: 22px;
  }
  .sixth-slide__title h1,
  .lp-example-title h1 {
    font-size: 28px;
  }
}
