.gallery {
  &__container {
    padding: 120px 0;
    padding-bottom: 40px;

    text-align: center;
  }

  &__title {
    h3 {
      color: #000;
      font-size: 26px;
      line-height: 32px;
      font-family: 'Playfair Display', serif;
      font-weight: 600;
    }
  }

  &__subtitle {
    p {
      color: #000;
      font-size: 20px;
      font-family: 'Playfair Display', serif;
      font-weight: 300;
      line-height: 1.55;

      .snoska {
        color: #aeaeae;
        font-size: 14px;
        font-weight: 300;
      }

      span {
        font-weight: 700;
      }

      a {
        color: rgb(222, 29, 32);
      }
    }
  }

  &__items {
    padding-left: 1.3%;

    &-image {
      display: inline-block;

      width: 24.5%;
      max-height: 460px;
      padding-top: 4px;

      img {
        width: 100%;
        height: 100%;

        object-fit: cover;
        transition: all 0.3s ease;

        &:hover {
          transform: scale(103%);
          box-shadow: 0 2px 20px 2px rgba(0, 0, 0, 0.45);
        }
      }
    }
  }
}
